@model CitasPlatform.Models.Cita
@{
    ViewData["Title"] = "Citas Alumno";
}
@{   
    var data = ViewBag.Message;  
}  
<div>

    <nav class="navbar navbar-dark navbar-expand-lg " style="background-color:#0E7A89">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
            <a class="navbar-brand font-weight-bold" href="#">Plataforma Citas Online</a>
            <div class="navbar-nav mr-auto mt-2 mt-lg-0">

            </div>
            <div class="form-inline my-2 my-lg-0">

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/CitasAlumno/Index/@data.UsuarioId">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/CitasAlumno/Cita/@data.UsuarioId">Crear Cita</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/CitasAlumno/Contact/@data.UsuarioId">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Cerrar Sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="row" style="height:80%">
        <div class="col-6" align="center">
             <br>
                <h3> Si necesitas hablar con alguien contactame</h3>
             <br>
             <div class="card shadow " style="width: 26rem;">
                 <div class="card-header">
                     <h4> Agenda tu cita aquí </h4>
                 </div>
            <form method= "post" action ="/CitasAlumno/createCita" class = "card-body">
                
                <div style="display:none;">

                    <input name="UsuarioId" value="@data.UsuarioId" />
                </div>

                <div class="form-group">


                   <label for="asunto" class="colocar_asunto">
                       <b> Fecha de Cita</b>
                        <span class="obligatorio"></span>
                    </label>

                        @Html.TextBoxFor(m => m.citaDateTime, "{0:yyyy-MM-ddThh:mm:ss}", new { @class = "form-control", type = "datetime-local" })
                        @Html.ValidationMessageFor(m => m.citaDateTime, "", new { @class = "text-danger" })
               
                </div>
                <p>
                    <label for="asunto" class="colocar_asunto">
                       <b> Asunto</b>
                        <span class="obligatorio"></span>
                    </label>
                    @{
                        List<SelectListItem> items = new List<SelectListItem>();
                        items.Add(new SelectListItem { Text = "Cita Individual", Value = "individual" });
                        items.Add(new SelectListItem { Text = "Cita en grupo", Value = "grupo" });
                        items.Add(new SelectListItem { Text = "Cita canalizada", Value = "canalizada" });
                    @Html.DropDownList("Tipo",items,"- Selecciona el tipo -",new {@class="form-control"})
                    }
                </p>

                <p>
                    <label for="mensaje" name="Descripcion" class="colocar_mensaje">
                       <b> Mensaje </b>
                        <span class="obligatorio"></span>
                    </label>
                    @Html.TextAreaFor(m => m.Descripcion, new {@class="form-control"}) 
                </p>

                <!-- button type="submit" name="enviar_formulario" id="enviar" > <form action="" > Enviar</form > </-button! -->
                <p name="enviar_formulario">
                    <!-- Botón de envío de formulario -->
                    <input type="submit"  class="btn btn-outline-secondary" value="Agendar Cita" />
                </p>


                <p class="aviso">
                    <span class="obligatorio"> * </span> los campos son obligatorios.
                </p>
               
            </form>
            </div>
        </div>
        <div class="col-6 text-light" padding:60px;">
            <figure class="imagen">
                <img src="https://img.freepik.com/vector-gratis/concepto-asesoramiento-psicologico-servicio-asistencia-psicologica-ilustracion-vectorial-plano_186332-1018.jpg" style="width:100%;margin-top:50px">
            </figure>
        </div>
    </div>

</div>